{% extends 'main.html' %}
{% block title %}
Messages
{% endblock title %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-2">
            <h4>Conversations</h4>
            {% for conversation in conversations %}
                {% if conversation.participants.all.count == 1 %}
                {% else %}
                <div class="border border rounded">
                    <a href="{% url 'messages' conversation.id %}" class="link-secondary h5 text-decoration-none p-3">
                        {% for participant in conversation.participants.all %}
                            {% if request.user.profile == participant %}
                            {% else %}
                                <div class="">
                                    <img class="image-fluid rounded" style="max-width: 40px" src="{{participant.image_url}}" />{{participant.first_name}} {{participant.last_name}} 
                                </div>                        
                            {% endif %}                        
                        {% endfor %}
                        </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        

        <div class="col-md-12 col-lg-8">
            <div class="row">
                {% if conversation_name %}
                <div class="col">
                    <h4>
                        
                        <a class="link-light text-decoration-none" href="{% url 'participants' conversation.id %}">{{conversation_name}}</a>
                        
                    </h4>
                </div>
                <div class="col">
                    <h5>
                        <a class="link-light text-decoration-none" href="{% url 'add-to-conversation' conversation.id %}">Add person to conversation</a>
                    </h5>
                </div>
                <div class="col">
                    <h5>
                        <a class="link-light text-decoration-none" href="{% url 'remove-from-conversation' conversation.id %}">Remove person from conversation</a>
                    </h5>
                </div>
                {% endif %}
            </div>
            

            <div class="row container-fluid rounded border border-secondary rounded">
            <div class="chat">
                <div id="chat-log">
                {% for message in room_messages %}     
                    {% if message.sender.user == request.user %}  
                    <div class="">
                        <div class="message receiver">{{message.body}}</div>   
                    </div> 
                                             
                    {% else %}
                    
                    <div class="flex-container">                        
                        <div class="message sender">{{message.body}}</div>
                        <div class=""><img class="rounded-circle sender" style="height: 40px" src="{{message.sender.image_url}}"></div>
                        
                    </div>          
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            </div>
            <div class="" style="display: inline-flex; justify-content: space-between;" >
                <input id="chat-message-input" class="form-control" type="text" style="width: 1050px;">
                <input id="chat-message-submit" type="button" value="Send" class="btn btn-secondary">
            </div>                    
        </div>

        <div class="col-md-12 col-lg-2">
            <form action="{% url 'profiles' %}">
                <input class="form-control" type="text" placeholder="Search for user..." name="q">
            </form> 
            <h4>Suggested</h4>
            {% for follow in following %}
            {% if follow.user not in followers and follow.user not in participants %}            
            <div>
                <a href="{% url 'messages' follow.user.id %}" class="link-secondary h5 text-decoration-none p-3">
                    <img class="image-fluid rounded" style="max-width: 40px" src="{{follow.user.image_url}}" />
                    {{follow.user.first_name}} {{follow.user.last_name}}</a>
            </div>
            <br>
            {% endif %}
            {% endfor %}
    
            {% for follower in followers %}
            {% if follower not in participants %}
            <div>
                <a href="{% url 'messages' follower.id %}" class="link-secondary h5 text-decoration-none p-3">
                    <img class="image-fluid rounded" style="max-width: 40px" src="{{follower.image_url}}" />
                    {{follower.first_name}} {{follower.last_name}}</a>
            </div>
            <br>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
 
  {{ conversation.name|json_script:"room-name" }}
  <!-- {{ request.user.profile.first_name|json_script:"username" }} -->
  {{ conversation.id|json_script:"conversationId" }}
  {{ request.user.profile.id|json_script:"loggedInUserId" }}
  <script>
    const chatLog = document.querySelector('#chat-log')
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    // const username = JSON.parse(document.getElementById('username').textContent);
    const conversationId = JSON.parse(document.getElementById('conversationId').textContent);

    if (!chatLog.hasChildNodes()){
        const emptyText = document.createElement('h3')
        emptyText.id = 'emptyText'
        emptyText.innerText = 'Start a conversation'
        emptyText.className = 'emptyText'
        chatLog.appendChild(emptyText)
    }

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        // document.querySelector('#chat-log').value += (data.username + ': ' + data.message + '\n');
        const messageElement = document.createElement('div')
        const messageDiv = document.createElement('div')
        const userId = data['user_id']
        const loggedInUserId = JSON.parse(document.getElementById('loggedInUserId').textContent)
        messageElement.innerText = data.message
        const picture = document.createElement('img')
        picture.src = data['profile_picture']
        picture.height = 40
        picture.classList.add('rounded-circle', 'sender')
        
        if (userId===loggedInUserId){
            messageElement.classList.add('message', 'receiver')
            messageDiv.appendChild(messageElement)
            chatLog.appendChild(messageDiv) 
        }
        else {
            messageElement.classList.add('message', 'sender')
            messageDiv.classList.add('flex-container')
            messageDiv.appendChild(messageElement)
            messageDiv.appendChild(picture)
            chatLog.appendChild(messageDiv)  
            // last = messageDiv.lastChild
            // console.log(last)
            // if (last===messageElement){
            //     messageDiv.appendChild(picture)
            // }
            // chatLog.appendChild(messageDiv)  
             
        }
        
      

        if (document.querySelector('#emptyText')){
            document.querySelector('#emptyText').remove()
        }
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInput = document.querySelector('#chat-message-input');
        const message = messageInput.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            // 'username': username,
            'conversationId': conversationId,
        }));
        messageInput.value = '';
    };
  </script>
{% endblock content %}
