{% extends 'main.html' %}
{% block title %}
Followers
{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-2">
            
        </div>       
    
        <div class="col-md-12 col-lg-8">
            <h5>Find person:</h5>
            <div class="d-flex justify-content-center">
                <form action="{% url 'followers' profile.id %}">
                    <input id="searchForm" class="form-control" style="width: 400px;"type="text" placeholder="Search in followers..." name="q">
                </form> 
            </div>
            <h5>{{profile.first_name}} {{profile.last_name}} followers:</h5>

            {% for follower in followers %}
            <div class="row rounded border border-light d-flex text-padding bg-secondary text-margin">
                <div class="col-lg-4 ">
                    <div>
                        <a class="link-secondary text-decoration-none text-dark h5" href="{% url 'profile' follower.id %}">
                            <img class="image-fluid rounded imageThumbnailBig border border-dark" src="{{follower.image_url}}"> 
                            <p>{{follower.first_name}} {{follower.last_name}}</p></a>
                    </div>
                    {% if follower.id != request.user.profile.id %}
                    <div class="d-flex text-padding">
                        <a class="btn btn-dark text-margin-small" href="{% url 'messages' follower.id %}">Send message</a><br>
                        <a class="btn btn-dark text-margin-small" href="{% url 'jam-request' follower.id %}">Send jam request</a><br>
                        {% if follower in following %}
                            <a href="{% url 'unfollow' follower.id %}?next={{ request.path|urlencode }}" class="btn btn-dark text-margin-small">Unollow</a><br>  
                        {% else %}
                            <a href="{% url 'follow' follower.id %}?next={{ request.path|urlencode }}" class="btn btn-dark text-margin-small">Follow</a><br>
                        {% endif %}
                    </div> 
                    {% endif %}                  
                </div>
                
                <div class="col d-flex">
                    {% if follower.bio %}
                    <p class="text-dark">{{follower.bio}}</p>
                    {% else %}
                    <p class="text-dark">No bio</p>
                    {% endif %}                    
                </div>   
                            
            </div>   
            {% endfor %}
            
        </div>

        <div class="col-md-12 col-lg-2">
            
        </div>  
    </div>
</div>
{% include 'pagination.html' with queryset=followers custom_range=custom_range search_query=search_query %}
{% endblock content %}