{% extends 'main.html' %}
{% block title %}
Following
{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-2">
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-light">Go back</a>
        </div>        
    
        <div class="col-md-12 col-lg-8">
            <div class="d-flex justify-content-center">
                <form action="{% url 'following' profile.id %}">
                    <input id="searchForm" class="form-control" style="width: 400px;"type="text" placeholder="Search in following users..." name="q">
                </form> 
            </div>
            <h5>{{profile.first_name}} {{profile.last_name}} following:</h5>
            {% if search != '' %}
                <h5>Results containing '{{search}}'</h5>
            {% endif %}
            {% if not following %}
                <h5>No results containing '{{search}}'</h5>
            {% endif %}
            {% for follow in following %}
            <div class="row rounded border border-light d-flex text-padding bg-secondary text-margin">
                <div class="col-lg-4 ">
                    <div>
                        <a class="link-secondary text-decoration-none text-dark h5" href="{% url 'profile' follow.id %}">
                            <img class="image-fluid rounded imageThumbnailBig border border-dark" src="{{follow.image_url}}"> 
                            <p>{{follow.first_name}} {{follow.last_name}}</p></a>
                    </div>
                    {% if follow.id != request.user.profile.id %}
                        <div class="d-flex text-padding">
                            <a class="btn btn-dark text-margin-small border border-light" 
                            href="{% url 'messages' follow.id %}">Send message</a><br>
                            <a class="btn btn-dark text-margin-small border border-light" 
                            href="{% url 'jam-request' follow.id %}">Send jam request</a><br>
                            <a class="btn btn-dark text-margin-small border border-light" 
                            href="{% url 'unfollow' follow.id %}?next={{ request.path|urlencode }}">Unollow</a><br>  
                        </div>  
                    {% endif %}                 
                </div>
                
                <div class="col d-flex">
                    {% if follow.bio %}
                    <p class="text-dark">{{follow.bio}}</p>
                    {% else %}
                    <p class="text-dark">No bio</p>
                    {% endif %}                    
                </div>                   
            </div>          
            {% endfor %}
        </div>

        <div class="col-md-12 col-lg-2">
            
        </div>     
    </div>
</div>
{% include 'pagination.html' with queryset=following custom_range=custom_range search_query=search_query %}
{% endblock content %}