{% extends 'main.html' %}
{% block title %}
Following
{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-2">
            
        </div>        
    
        <div class="col-md-12 col-lg-8">
            <h5>Find person:</h5>
            <div class="d-flex justify-content-center">
                <form action="{% url 'following' profile.id %}">
                    <input id="searchForm" class="form-control" style="width: 400px;"type="text" placeholder="Search in following users..." name="q">
                </form> 
            </div>
            <h5>{{profile.first_name}} {{profile.last_name}} following:</h5>
            {% for follow in following %}
            <div class="row container-fluid rounded border border-light">
                <div class="col d-flex align-items-center">
                    <a class="link-secondary h5 text-decoration-none p-3" href="{% url 'follow' follow.id %}">
                    <img class="image-fluid rounded" style="max-width: 80px;" src="{{follow.image_url}}"> {{follow.first_name}} {{follow.last_name}}</a>
                </div>
                
                <div class="col d-flex align-items-center justify-content-end">
                    <a class="btn btn-outline-light" href="{% url 'messages' follow.id %}">Send message</a><br>
                    <a class="btn btn-outline-light" href="{% url 'jam-request' follow.id %}">Send jam request</a><br>                    
                    <a href="{% url 'unfollow' follow.id %}?next={{ request.path|urlencode }}" class="btn btn-outline-light">Unollow</a><br>                 
                </div> 
                <br><br>                   
            </div>        
            {% endfor %}
        </div>

        <div class="col-md-12 col-lg-2">
            
        </div>     
    </div>
</div>
{% include 'pagination.html' with queryset=following custom_range=custom_range search_query=search_query %}
{% endblock content %}