{% extends 'main.html' %}
{% block title %}
Followers
{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-2">
            
        </div>       
    
        <div class="col-md-12 col-lg-8">
            <h5>Find person:</h5>
            <div class="d-flex justify-content-center">
                <form action="{% url 'followers' profile.id %}">
                    <input id="searchForm" class="form-control" style="width: 400px;"type="text" placeholder="Search in followers..." name="q">
                </form> 
            </div>
            <h5>{{profile.first_name}} {{profile.last_name}} followers:</h5>

            {% for follower in followers %}
            <div class="row container-fluid rounded border border-light d-flex align-items-center">
                <div class="col ">
                    <a class="link-secondary text-decoration-none text-white h5" href="{% url 'profile' follower.id %}">
                    <img class="image-fluid rounded imageThumbnailBig" style="height: 80px;"  src="{{follower.image_url}}"> {{follower.first_name}} {{follower.last_name}}</a>
                </div>
                
                <div class="col d-flex align-items-center justify-content-end">
                    <a class="btn btn-outline-light" href="{% url 'messages' follower.id %}">Send message</a><br>
                    <a class="btn btn-outline-light" href="{% url 'jam-request' follower.id %}">Send jam request</a><br>
                    {% if follower in following %}
                        <a href="{% url 'unfollow' follower.id %}?next={{ request.path|urlencode }}" class="btn btn-outline-light">Unollow</a><br>  
                    {% else %}
                        <a href="{% url 'follow' follower.id %}?next={{ request.path|urlencode }}" class="btn btn-outline-light">Follow</a><br>
                    {% endif %}
                </div> 
                <br><br>                   
            </div>        
            {% endfor %}
        </div>

        <div class="col-md-12 col-lg-2">
            
        </div>  
    </div>
</div>
{% include 'pagination.html' with queryset=followers custom_range=custom_range search_query=search_query %}
{% endblock content %}