{% extends 'main.html' %}
{% block content %}

<style>
    .home-container {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
    }
  </style>

<div class="home-container">
    <div>
        <h4>Last conversations</h4>
        {% for conversation in conversations %}
        <a href="{% url 'messages' conversation.id %}">
        {% for participant in conversation.participants.all %}
        {% if request.user.profile == participant %}
        {% else %}
        <img style="max-width: 30px;" src="{{participant.profile_image.url}}">{{participant.first_name}} {{participant.last_name}} 
        {% endif %}
        {% endfor %}
        </a>
        <br><br>
        {% endfor %}
    </div>
        
    <div>
        <h3>
            {% for participant in conversation.participants.all %}
            {{participant.first_name}} 
            {% endfor %}
        </h3>
        {% for message in room_messages %}
        <img style="max-width: 20px;" src="{{message.sender.profile_image.url}}">{{message.sender.first_name}}:{{message.body}}
        <hr>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Send message">
        </form>
    </div>

    <div>
        <h4>Suggested</h4>
        {% for follow in following %}
        {% if follow.user not in followers and follow.user not in participants %}
        
        <a href="{% url 'messages' follow.user.id %}">{{follow.user.first_name}} {{follow.user.last_name}}</a><br>
        
        {% endif %}
        {% endfor %}

        {% for follower in followers %}
        {% if follower not in participants %}
        <a href="{% url 'messages' follower.id %}">{{follower.first_name}} {{follower.last_name}}</a><br>
        {% endif %}
        {% endfor %}
    </div>
</div>
<!-- <h4>Messages:</h4>
<br>
{% for message in users_messages %}
<a href="{% url 'profile' message.sender.id %}">{{message.sender.first_name}} {{message.sender.last_name}}</a>
<h4><a href="{% url 'message' message.id %}">{{message.subject}}</a></h4>
<p>{{message.body|slice:":50"}}</p>
<hr>
{% endfor %} -->
{% endblock content %}