{% extends 'main.html' %} 
{% block title %}
Profile
{% endblock title %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-3">
      <div>
      <img class="image-fluid rounded border border-light" style="max-width: 300px" src="{{profile.image_url}}" />
      <br />
      
      <div class="row">
        <h5>{{profile.first_name}} {{profile.last_name}}</h5>
        <h5>Location:</h5> 
          {% if profile.location == None %}
          <p>No info</p>
          {% else %}
          <p>{{profile.location}}</p>
          {% endif %}
        <br />
      </div>
      <div class="row">
        <div class="d-flex text-margin">
          {% if request.user.profile.id != profile.id %}
          <a class="btn btn-outline-light text-margin-small" href="{% url 'messages' profile.id %}">Send message</a>
          <br>
          <a class="btn btn-outline-light text-margin-small" href="{% url 'jam-request' profile.id %}">Send jam request</a>
          {% endif %} <br>
        </div>
        <div class="d-flex text-margin">
          <a href="{% url 'followers' profile.id %}" class="btn btn-outline-light text-margin-small">
            {{followers.count}} Follower{{followers.count|pluralize:"s"}}
          </a><br>
          <a href="{% url 'following' profile.id %}" class="btn btn-outline-light text-margin-small">
            {{following.count}} Following
          </a>
          {% if request.user.profile in followers %}
          <a href="{% url 'unfollow' profile.id %}" class="btn btn-outline-light text-margin-small">Unfollow</a>
          {% elif request.user.profile == profile %}
          {% else %}
          <a href="{% url 'follow' profile.id %}" class="btn btn-outline-light text-margin-small">Follow</a>
          {% endif %}
        </div>
        <h5 class="">Social links:</h5>
        <div class="d-flex">          
          {% if profile.social_youtube %}
          <a class="text-margin" href="{{profile.social_youtube}}"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
              <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
            </svg></a>
          {% endif %}
          {% if profile.social_facebook %}
            <a class="text-margin" href="{{profile.social_facebook}}"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
              <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
            </svg></a>
          {% endif %}
          {% if not profile.social_youtube and not profile.social_facebook %}
            <p class="text-white">No links</p>
          {% endif %}
        </div>
      </div>
      <p>
        <h5>Bio:</h5>
        {% if profile.bio %}
        <p>{{profile.bio}}</p>
        {% else %}
        <p>No info</p>
        {% endif %}
      </p>        

      {% if request.user.profile.id == profile.id %} 
      <a href="{% url 'settings' %}" class="btn btn-outline-light">Edit profile</a>
      {% endif %} 
      <br><br>
      <h5>Skills:</h5>
      {% if skills %}
      {% for skill in skills %} 
      <p>{{skill.name}}: {{skill.level}}</p>
      {% endfor %}
      {% else %}
      <p>No info</p>
      {% endif %}
      {% if request.user.profile.id == profile.id %}
          <a href="{% url 'skill' %}" class="btn btn-outline-light">Add your skills</a>
      {% endif %}
      </div>
    </div>

    <div class="col-md-12 col-lg-9">
      <div>
        {% if posts %}
        {% for post in posts %}
          <div class="border border-light rounded bg-secondary text-margin">
              <div class="d-flex justify-content-end">
                  {% if request.user == post.author.user %}
                  <a href="{% url 'update-post' post.id %}" class="btn btn-link link-secondary text-decoration-none text-dark h5">Update</a>
                  <a href="{% url 'delete-post' post.id %}" class="btn btn-link link-secondary text-decoration-none text-dark h5">Delete</a>
                  {% endif %}
              </div>
              <div class="p-3">
                  <a href="{% url 'profile' post.author.id %}" class="btn btn-link link-secondary text-decoration-none text-dark h5">
                    <img class="rounded-circle imageThumbnail" src="{{post.author.image_url}}" />
                    {{post.author.first_name}} {{post.author.last_name}}</a>
                  <a href="{% url 'post' post.id %}" class="link-secondary text-decoration-none text-dark h5">{{post.subject}}</a>
              </div>
              <br>
              <p class="p-3 text-dark">{{post.body}}</p>
              
              {% if post.image_url %}
              <div class="d-flex justify-content-center rounded">
                <img class="rounded" style="max-width: 100%" src="{{post.picture.url}}" />
              </div>
              {% endif %}
              {% if post.video_url %}
              <div class="d-flex justify-content-center rounded">
                <video class="embed-responsive embed-responsive-16by9 rounded" controls="controls" style="max-width: 100%">
                    <source src="{{post.video_url}}" type="video/mp4">
                </video>
              </div>
              {% endif %}
              <br />
              {% for tag in post.tags.all %}
              <a href="{% url 'posts' %}?q={{tag}}" class="btn btn-link link-secondary text-decoration-none text-dark h5" ># {{tag}}</a>
              {% endfor %}

          </div>
          {% endfor %}   
          {% else %}
          <h5>No posts</h5>
          {% endif %}               
      </div>
  </div>
</div>
</div>

{% endblock content %}
