{% extends 'main.html' %} {% block content %}
<h3>profile template</h3>
<img style="max-width: 80px;" src="{{profile.profile_image.url}}">
<br>
{{profile.first_name}} {{profile.last_name}}
<br>
{{profile.location}}
<br>
{{profile.bio}}
<br>
{% if profile.social_youtube %}
<a href="{{profile.social_youtube}}">Youtube</a>
<br>
{% endif %}
<br><br><br>
{% if request.user.profile.id == profile.id %}
<a href="{% url 'skill' %}">Add your skills</a>
{% endif %}
<br><br><br>
{% if request.user.profile.id != profile.id %}
<h5><a href="{% url 'send_message' profile.id %}">Send message</a></h5>
{% endif %}
{{followers.count}} <a href="{% url 'followers' profile.id %}">follower{{followers.count|pluralize:"s"}}</a>
{% if request.user.profile.id == profile.id %}
{% else %}

{% if request.user.profile in followers %}
<a href="{% url 'unfollow' profile.id %}">Unfollow</a>
{% else %}
<a href="{% url 'follow' profile.id %}">Follow</a>
{% endif %}
{% endif %}
<h3>Skills:</h3>
{% for skill in skills %}
{{skill.name}}
{{skill.level}}
<br>
{% endfor %}
<br><br>
{% for post in posts %}
{{post.author.first_name}} {{post.author.last_name}}<br>
<a href="{% url 'post' post.id %}">{{post.subject}}</a>
{% if request.user == post.author.user %}
<a href="{% url 'update-post' post.id %}">Update</a>
<a href="{% url 'delete-post' post.id %}">Delete</a>
{% endif %}
<br>
{{post.body}}<br>
{{post.tag}}<br>
{% endfor %}
{% endblock content %}