{% extends 'main.html' %}
{% block title %}
Profiles
{% endblock title %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">   
        <div class="col-md-12 col-lg-2">
            {% if not choose %}
            <a href="{% url 'followers' request.user.profile.id %}" class="btn btn-outline-light">
                Followers
            </a>
            <a href="{% url 'following' request.user.profile.id %}" class="btn btn-outline-light">
                Following
            </a>
            {% endif %}
        </div>          
        
        <div class="col-md-12 col-lg-8">
            <!--for profile search  -->
            <div class="d-flex justify-content-center">
                <form action="{% url 'profiles' %}">
                    <input id="searchForm" class="form-control" style="width: 400px;"type="text" placeholder="Search for user..." name="q">
                </form> 
            </div>
            {% if search == '' %}
                <h5>All profiles:</h5>
            {% endif %}
            {% if search != '' %}
                <h5>Results containing '{{search}}'</h5>
            {% endif %}
            {% if not profiles %}
            <h5>No results containing '{{search}}'</h5>
            {% endif %}
            {% for profile in profiles %}
            <div class="row rounded border border-light d-flex text-padding bg-secondary text-margin">
                <div class="col-lg-4">
                    <div>
                        <a class="link-secondary text-decoration-none text-dark h5" href="{% url 'profile' profile.id %}">
                            <img class="image-fluid rounded imageThumbnailBig border border-dark" src="{{profile.image_url}}"> 
                            <p>{{profile.first_name}} {{profile.last_name}}</p></a>
                    </div>
              
                    <div class="d-flex text-padding">
                        {% if profile.id != request.user.profile.id %}
                        <a class="btn btn-dark text-margin-small border border-light" href="{% url 'messages' profile.id %}">Send message</a><br>
                        <a class="btn btn-dark text-margin-small border border-light" href="{% url 'jam-request' profile.id %}">Send jam request</a><br>
                        {% if profile not in following_profiles %}
                            <a class="btn btn-dark text-margin-small border border-light" href="{% url 'follow' profile.id %}">Follow</a><br>
                        {% else %}
                            <a class="btn btn-dark text-margin-small border border-light" href="{% url 'unfollow' profile.id %}">Unollow</a><br>
                        {% endif %}
                        {% endif %}
                    </div>                   
                </div>
                
                <div class="col d-flex">
                    {% if profile.bio %}
                    <p class="text-dark">{{profile.bio}}</p>
                    {% else %}
                    <p class="text-dark">No bio</p>
                    {% endif %}                    
                </div>                   
            </div>        
            {% endfor %}
        </div>

        <div class="col-md-12 col-lg-2">
            
        </div>    

    </div>
</div>
{% include 'pagination.html' with queryset=profiles custom_range=custom_range search_query=search_query %}

{% endblock content %}
