{% extends 'main.html' %} 
{% block title %}
Profile
{% endblock title %}

{% block content %}
<section class="bg-dark text-light p-5 text-center text-sm-start" style="min-height: 100vh;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-3">
        <div>
        <img class="image-fluid rounded" style="max-width: 300px" src="{{profile.image_url}}" />
        <br />
        
        <div class="row">
          <h5>{{profile.first_name}} {{profile.last_name}}</h5>
          <p>{{profile.location}}</p>
          <br />
        </div>
        <div class="row">
          <div class="col">
            {% if request.user.profile.id != profile.id %}
            <a class="btn btn-outline-secondary" href="{% url 'messages' profile.id %}">Send message</a>
            <br>
            <a class="btn btn-outline-secondary" href="">Send jam request</a>
            {% endif %} <br>
            {% if profile.social_youtube %}
            <a href="{{profile.social_youtube}}"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-youtube text-secondary" viewBox="0 0 16 16">
                <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
              </svg></a>
            {% endif %}
          </div>
          <div class="col">
            <a href="{% url 'followers' profile.id %}" class="btn btn-outline-secondary">
              {{followers.count}} Follower{{followers.count|pluralize:"s"}}
            </a><br>
            <a href="{% url 'following' profile.id %}" class="btn btn-outline-secondary">
              {{following.count}} Following
            </a>
            {% if request.user.profile in followers %}
            <a href="{% url 'unfollow' profile.id %}" class="btn btn-outline-secondary">Unfollow</a>
            {% elif request.user.profile == profile %}
            {% else %}
            <a href="{% url 'follow' profile.id %}" class="btn btn-outline-secondary">Follow</a>
            {% endif %}
          </div>
        </div>
        <p>
          Bio:
          <br>
          {{profile.bio}}
        </p>        

        {% if request.user.profile.id == profile.id %} 
        <a href="{% url 'settings' %}" class="btn btn-outline-secondary">Edit account info</a>
        {% endif %} 
        <br><br>
        <h3>Skills:</h3>
        {% for skill in skills %} {{skill.name}}: {{skill.level}}
        <br />
        {% endfor %}
        {% if request.user.profile.id == profile.id %}
            <a href="{% url 'skill' %}" class="btn btn-outline-secondary">Add your skills</a>
        {% endif %}
        </div>
      </div>

      <div class="col-md-12 col-lg-9">
        <div>
            {% for post in posts %}
            <div class="border border-secondary rounded bg-secondary">
                <div class="d-flex justify-content-end">
                    {% if request.user == post.author.user %}
                    <a href="{% url 'update-post' post.id %}" class="btn btn-outline-light">Update</a>
                    <a href="{% url 'delete-post' post.id %}" class="btn btn-outline-light">Delete</a>
                    {% endif %}
                </div>
                <div class="d-flex p-3">
                  <div class="">
                    <img class="image-fluid rounded" style="max-width: 40px" src="{{profile.image_url}}" />
                    <p>{{post.author.first_name}} {{post.author.last_name}}</p>
                  </div>
                  <div class="">
                    <a href="{% url 'post' post.id %}" class="link-dark h5 text-decoration-none p-3">{{post.subject}}</a>
                  </div>
                    
                </div>
                <br>
                <p class="p-3">{{post.body}}</p>
                
                {% if post.image_url %}
                <img class="image-fluid" style="max-width: 100%" src="{{post.picture.url}}" />
                {% endif %}
                {% if post.video_url %}
                <video class="embed-responsive embed-responsive-16by9" controls="controls" style="max-width: 100%">
                    <source src="{{post.video_url}}" type="video/mp4">
                </video>
                {% endif %}
                <br />
                {{post.tag}}<br />
            </div>
            <br>
            {% endfor %}            
        </div>
    </div>
  </div>
  </div>
</section>
{% endblock content %}
