{% extends 'main.html' %}
{% block title %}
Register
{% endblock title %}
{% block content %}

<div class="d-flex justify-content-center">
    <form method="POST" action="">
        {% csrf_token %}
        <!-- {% for field in form %}
        {{field}}<br>
        {% endfor %} -->
        {% for field in form %}
            {{field}}
            <br>
        {% endfor %}
        {% comment %} {{form.as_p}} {% endcomment %}
        <input class="btn btn-outline-light" type="submit" value="Register">
    </form>
</div>
<div class="" style="text-align: center;">
    <p>Already have an account?</p>
    <a class="btn btn-outline-light" href="{% url 'login' %}">Login</a>
</div>

{% endblock content %}

