{% extends 'main.html' %}
{% block content %}
<section class="bg-dark text-light p-5 text-center text-sm-start">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-light">Go back</a>
    <div class="container-fluid d-flex justify-content-center">
        <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
        <label class="form-label">{{field.label}}</label><br>
        {{field}}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-secondary">Save</button>
        </form>
    </div>
</section>
{% endblock content %}


