{% load static %}
<nav class="navbar navbar-expand-md bg-secondary px-5">
  <div class="container-fluid">
    <a href="{% url 'posts' %}" class="navbar-brand">Jam With Me</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
            {% if request.user.is_authenticated %}
            
            <li class="nav-item">
                <a href="{% url 'profiles' %}" class="nav-link">Profiles</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'create-post' %}" class="nav-link">Post</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'messages' 'None' %}" class="nav-link">Messages</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'profile' request.user.profile.id %}" class="nav-link">Profile</a>
            </li>
            <!-- <li class="nav-item">
                <a href="{% url 'settings' %}" class="nav-link">Settings</a>
            </li> -->
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'login' %}?next={{ request.path|urlencode }}" class="nav-link">Login/Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>
