body{
    background-color: rgb(234, 234, 234);
}

/* .message {
	color:  #ffffff;
	min-width: 7%;
    max-width: 90%; 
	padding: 10px;
	border-radius: 2em;
	margin: 1px 0px;
	font-family: 'Poppins', sans-serif;
    display: inline-block;
}

.sender {
	background-color: #71aeeb;
	margin-left: auto;
    float: right; 
}

.receiver {
	background-color: #a5a5a5;    
} */


.message {
	color:  #ffffff;
	max-width: 75%; 
	min-width: 7%;
	display: inline-flex;
	padding: 10px;
	border-radius: 2em;
	margin: 1px 0px;
	font-family: 'Poppins', sans-serif;
	
	
	
}

.sender {
    
	background-color: #71aeeb;
	/* justify-items: end; */
	/* align-items: center; */

}

.receiver {
	background-color: #a5a5a5;  
}

.imageContainer {
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.chat {
	height: 700px;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}

.flex-container {
	display: flex;
	justify-content: flex-end;
}

.notifications {
	height: 300px;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}

.noImage {
	margin-right: 40px;
	/* height: 40px;
	width: 40px; */
}

.imageThumbnail {
	width: 40px;
	height: 40px;
}