body{
    background-color: rgb(234, 234, 234);
}

.message {
	color:  #ffffff;
	max-width: 75%; 
	min-width: 7%;
	display: inline-flex;
	padding: 10px;
	border-radius: 2em;
	margin: 1px 0px;
	font-family: 'Poppins', sans-serif;
	
	
	
}

.sender {
	background-color: #71aeeb;
}

.receiver {
	background-color: #a5a5a5;  
}

.imageContainer {
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.chat {
	height: 700px;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}

.scroll {
	height: 700px;
	overflow: auto;
	overflow-x: hidden;
	flex-direction: column-reverse;

}

.flex-container {
	display: flex;
	justify-content: flex-end;
}

.notifications {
	height: 300px;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}

.noImage {
	margin-right: 40px;
}

.imageThumbnail {
	width: 40px;
	height: 40px;
}

.imageThumbnailBig {
	width: 150px;
	height: 150px;
}

.comment {
	width: 700px;
	background-color: #9da0a3;	
	margin: 10px;
	padding: 10px;
}

.comment-container {
	display: flex;
	justify-content: center;

}

.comment-header {
	display: flex;
	align-items: center;
}

.text-padding {
	padding: 10px;
}

.text-margin {
	margin: 10px;
}

.text-margin-small {
	margin: 5px;
}
