<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" 
  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Notifications({{unseen.count}})
  </a>

  <div class="dropdown-menu notifications bg-white" aria-labelledby="dropdownMenuLink">
    {% for notification in notifications %}
    {% if notification.seen %}
    <a class="dropdown-item text-secondary" href="{{notification.link}}">
        <img class="rounded-circle" style="max-width: 30px" src="{{notification.from_user.image_url}}"/>{{notification.name}}
    </a>    
    {% else %}
    <a class="dropdown-item" onclick="location.href='{% url 'notification-seen' notification.id %}'" >
        <img class="rounded-circle" style="max-width: 30px" src="{{notification.from_user.image_url}}"/>{{notification.name}}
    </a>    
    {% endif %}
    {% endfor %}
</div>

<script>
//    $(document).on('click', '#dropdownMenuLink', function (e) {
//     e.preventDefault();
//     $.ajax({
//       type: 'POST',
//       url: '{% url "like-post" %}',
//       data: {
//         postid: $('#like-post').val(),
//         csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
//         action: 'post'
//       },
//       success: function (json) {
//         document.getElementById("like-count").innerHTML = json['likes']
//         document.getElementById("dislike-count").innerHTML = json['dislikes']
//       },
//       error: function (xhr, errmsg, err) {
//         console.log(err)
//       }
//     });
//   })
</script>