<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" 
  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Notifications
    (<span class="" id="notification-count">{{unseen.count}}</span>)
  </a>

  <div class="dropdown-menu notifications bg-white" aria-labelledby="dropdownMenuLink" id="notifications">
    {% for notification in notifications %}
    
    {% if notification.seen %}
    <a class="dropdown-item text-secondary" id="{{notification.id}}" href="{{notification.link}}">
        <img class="rounded-circle imageThumbnail" src="{{notification.from_user.image_url}}"/>{{notification.name}}
    </a>    
    {% else %}
    <a class="dropdown-item" id="{{notification.id}}" onclick="location.href='{% url 'notification-seen' notification.id %}'" >
        <img class="rounded-circle imageThumbnail" src="{{notification.from_user.image_url}}"/>{{notification.name}}
    </a>    
    {% endif %}
    {% endfor %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>


  $(document).on('click', '#dropdownMenuLink', function (e) {
    e.preventDefault();
    $.ajax({
        url:'{% url "get-new-notifications" %}',
        type:'json',
        method:'GET',
      data: {
        action: 'get'
      },
      success: function (json) {

        const notifications = document.getElementById("notifications")
        const x = notifications.querySelectorAll(".dropdown-item"); 
        const idList = []
        for (var i=0; i<x.length; i++) {
          idList.push(x[i].id)
        }
        for (var i=0; i<json.length; i++) {
          const linkElement = document.createElement('a')
          const picture = document.createElement('img')
          linkElement.id = json[i]['id']
          if (! idList.includes(linkElement.id)){
            linkElement.href = json[i]['link']
            linkElement.classList.add('dropdown-item')
            picture.src = json[i]['image']
            picture.classList.add('rounded-circle', 'imageThumbnail')
            linkElement.appendChild(picture)
            linkElement.innerHTML += json[i]['name']
            notifications.appendChild(linkElement)
          }
          
        }
        
      },
      error: function (xhr, errmsg, err) {
        console.log(err)
      }
    });
  })
</script>
