{% extends 'main.html' %}
{% block title %}
Post
{% endblock title %}
{% block content %}

<a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-light">Go back</a>
<div class="container-fluid d-flex justify-content-center">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="">
            <h5>Add new post</h5>
            <!-- {% for field in form %}
            <label class="form-label">{{field.label}}</label>
            <br>
            {{field}}
            <br>
            {% endfor %} -->
            {% for field in form %}
                {{field}}
                <br>
            {% endfor %}
            {% comment %} {{form.as_p}} {% endcomment %}
            <input class="form-control" type="text" name="tags" value="{{tags}}" placeholder="Tags"><br>
            <button type="submit" class="btn btn-secondary">Post</button>
        </div>
    </form>
</div>


{% endblock content %}