{% extends 'main.html' %}
{% block title %}
Post
{% endblock title %}
{% block content %}
<section class="bg-dark text-light p-5 text-center text-sm-start">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-light">Go back</a>
    <div class="container-fluid d-flex justify-content-center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="">
                {% for field in form %}
                <div class="mb-3">
                <label class="form-label">{{field.label}}</label><br>
                {{field}}
                </div>
                {% endfor %}
                <!-- {{form.as_p}} -->
                <p>Tags</p>
                <input class="form-control" type="text" name="tags"><br><br>
                <button type="submit" class="btn btn-secondary">Post</button>
            </div>
        </form>
    </div>
</section>

{% endblock content %}